In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline

In [2]:
yellow = pd.read_parquet('../yellow_tripdata_2023-04.parquet', engine='pyarrow')
yellow.shape

(3288250, 19)

In [3]:
yellow.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3288250 entries, 0 to 3288249
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               3288250 non-null  int32
 1   tpep_pickup_datetime   3288250 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  3288250 non-null  datetime64[ns]
 3   passenger_count        3197560 non-null  float64
 4   trip_distance          3288250 non-null  float64
 5   RatecodeID             3197560 non-null  float64
 6   store_and_fwd_flag     3197560 non-null  object
 7   PULocationID           3288250 non-null  int32
 8   DOLocationID           3288250 non-null  int32
 9   payment_type           3288250 non-null  int64
 10  fare_amount            3288250 non-null  float64
 11  extra                  3288250 non-null  float64
 12  mta_tax                3288250 non-null  float64
 13  tip_amount             3288250 non-null  float64
 14  tolls_amount           3288250 non-null  float64
 15  improvement_surcharge  3288250 non-null  float64
 16  total_amount           3288250 non-null  float64
 17  congestion_surcharge   3197560 non-null  float64
 18  Airport_fee            3197560 non-null  float64
dtypes: datetime64[ns](2), float64(12), int32(3), int64(1), object(1)
memory usage: 439.0+ MB

In [4]:
green = pd.read_parquet('../green_tripdata_2023-04.parquet', engine='pyarrow')
green.shape

(65392, 20)

In [5]:
green.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65392 entries, 0 to 65391
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               65392 non-null  int32
 1   lpep_pickup_datetime   65392 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  65392 non-null  datetime64[ns]
 3   store_and_fwd_flag     60910 non-null  object
 4   RatecodeID             60910 non-null  float64
 5   PULocationID           65392 non-null  int32
 6   DOLocationID           65392 non-null  int32
 7   passenger_count        60910 non-null  float64
 8   trip_distance          65392 non-null  float64
 9   fare_amount            65392 non-null  float64
 10  extra                  65392 non-null  float64
 11  mta_tax                65392 non-null  float64
 12  tip_amount             65392 non-null  float64
 13  tolls_amount           65392 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  65392 non-null  float64
 16  total_amount           65392 non-null  float64
 17  payment_type           60910 non-null  float64
 18  trip_type              60907 non-null  float64
 19  congestion_surcharge   60910 non-null  float64
dtypes: datetime64[ns](2), float64(14), int32(3), object(1)
memory usage: 9.2+ MB

In [7]:
green[green.PULocationID == 4]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
22715,1,2023-04-12 12:49:07,2023-04-12 13:15:46,N,1.0,4,193,1.0,0.0,27.5,0.0,1.5,0.0,0.0,NaN,1.0,29.0,1.0,1.0,0.0
24879,1,2023-04-13 13:45:32,2023-04-13 14:20:01,N,1.0,4,169,1.0,0.0,31.2,0.0,1.5,0.0,0.0,NaN,1.0,32.7,1.0,1.0,0.0
41192,1,2023-04-21 12:51:23,2023-04-21 12:58:17,N,1.0,4,232,1.0,0.0,16.5,0.0,1.5,0.0,0.0,NaN,1.0,18.0,1.0,1.0,0.0

In [6]:
fhv = pd.read_parquet('../fhv_tripdata_2023-04.parquet', engine='pyarrow')
fhv.shape

(1246479, 7)