In [1]:
import numpy as np
import pandas as pd

Base資訊

In [2]:
base = pd.read_csv('current_bases.csv')
base.head()

,License Number,Entity Name,Telephone Number,SHL Endorsed,Building,Street,City,State,Postcode,Type of Base,Latitude,Longitude,Date,Time,Location
0,B03377,JUMPRYDZ LLC,7328392801,No,317,GEORGE ST STE 320,NEW BRUNSWICK,NJ,08901,BLACK CAR BASE,40.493052,-74.442988,07/12/2023,18:00:13,"(40.493052, -74.4429875)"
1,B03281,JARPA TRANSPORTATION CORP.,7186350047,No,2825,THIRD AVENUE SUITE 301,BRONX,NY,10455,BLACK CAR BASE,40.815802,-73.918415,07/12/2023,18:00:13,"(40.8158019, -73.9184149)"
2,B01339,R C AUDUBON SVC INC,2129238787,Yes,2224,AMSTERDAM AVENUE,NEW YORK,NY,10032,LIVERY BASE,40.838228,-73.937654,07/12/2023,18:00:13,"(40.838228, -73.937654)"
3,B03278,GEWESEN TRANSPORTATION CORP.,9739542775,No,175,VARICK STREET,NEW YORK,NY,10014,BLACK CAR BASE,NaN,NaN,07/12/2023,18:00:13,NaN
4,B03109,ROLUX INC,9178652793,No,160-23,ROCKAWAY BOULEVARD SUITE 4,JAMAICA,NY,11434,BLACK CAR BASE,40.710152,-73.792866,07/12/2023,18:00:13,"(40.7101523, -73.7928657)"

In [3]:
base.shape

(825, 15)

In [31]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   License Number    825 non-null    object
 1   Entity Name       825 non-null    object
 2   Telephone Number  825 non-null    int64
 3   SHL Endorsed      825 non-null    object
 4   Building          825 non-null    object
 5   Street            825 non-null    object
 6   City              825 non-null    object
 7   State             825 non-null    object
 8   Postcode          825 non-null    object
 9   Type of Base      825 non-null    object
 10  Latitude          822 non-null    float64
 11  Longitude         822 non-null    float64
 12  Date              825 non-null    object
 13  Time              825 non-null    object
 14  Location          822 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 96.8+ KB

License有效的車子紀錄

In [32]:
active_fhv = pd.read_csv('fhv_active.csv')
active_fhv.head()

,Active,Vehicle License Number,Name,License Type,Expiration Date,Permit License Number,DMV License Plate Number,Vehicle VIN Number,Wheelchair Accessible,Certification Date,...,Base Name,Base Type,VEH,Base Telephone Number,Website,Base Address,Reason,Order Date,Last Date Updated,Last Time Updated
0,YES,5392883,"DELAROSA,MANUEL,D",FOR HIRE VEHICLE,03/24/2025,NaN,T602431C,4T1BF1FK5HU615813,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25
1,YES,5899407,"GOFRAN,,MOHAMMAD,A",FOR HIRE VEHICLE,12/24/2024,NaN,T780997C,1N4CL2AP5AC188628,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25
2,YES,5617730,"PHUNTSOK,TENZIN",FOR HIRE VEHICLE,05/14/2025,NaN,T665230C,2T3RWRFV2LW055448,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25
3,YES,5807280,"RODRIGUEZVILLAFN,F,A",FOR HIRE VEHICLE,08/29/2023,NaN,T749328C,5NMS1DAJ2MH349431,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25
4,YES,5865513,"TEJADA,TEJADA,M,L",FOR HIRE VEHICLE,05/07/2024,NaN,T769520C,1FMSK8DH7LGC72604,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25

In [6]:
active_fhv.shape

(97370, 23)

In [11]:
active_fhv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97370 entries, 0 to 97369
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Active                    97370 non-null  object
 1   Vehicle License Number    97370 non-null  object
 2   Name                      97370 non-null  object
 3   License Type              97370 non-null  object
 4   Expiration Date           97370 non-null  object
 5   Permit License Number     1107 non-null   object
 6   DMV License Plate Number  97370 non-null  object
 7   Vehicle VIN Number        97370 non-null  object
 8   Wheelchair Accessible     5767 non-null   object
 9   Certification Date        3957 non-null   object
 10  Hack Up Date              3940 non-null   object
 11  Vehicle Year              97370 non-null  int64
 12  Base Number               97370 non-null  object
 13  Base Name                 97370 non-null  object
 14  Base Type                 97370 non-null  object
 15  VEH                       10943 non-null  object
 16  Base Telephone Number     97370 non-null  object
 17  Website                   7040 non-null   object
 18  Base Address              97370 non-null  object
 19  Reason                    97370 non-null  object
 20  Order Date                0 non-null      float64
 21  Last Date Updated         97370 non-null  object
 22  Last Time Updated         97370 non-null  object
dtypes: float64(1), int64(1), object(21)
memory usage: 17.1+ MB

In [10]:
active_fhv.iloc[:, 12:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97370 entries, 0 to 97369
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Base Number            97370 non-null  object
 1   Base Name              97370 non-null  object
 2   Base Type              97370 non-null  object
 3   VEH                    10943 non-null  object
 4   Base Telephone Number  97370 non-null  object
 5   Website                7040 non-null   object
 6   Base Address           97370 non-null  object
 7   Reason                 97370 non-null  object
 8   Order Date             0 non-null      float64
 9   Last Date Updated      97370 non-null  object
 10  Last Time Updated      97370 non-null  object
dtypes: float64(1), object(10)
memory usage: 8.2+ MB

檢查車有效的fhv車所屬base的註冊地址

In [30]:
active_fhv_ny = active_fhv[active_fhv['Base Address'].str.contains('CA') == True]
active_fhv_ny.shape

(77158, 23)

檢查調度基地的登記地址

In [28]:
base_not_ny = base[base['State'].str.contains('NY') == False]
base_not_ny.shape

(31, 15)

In [29]:
base_not_ny

,License Number,Entity Name,Telephone Number,SHL Endorsed,Building,Street,City,State,Postcode,Type of Base,Latitude,Longitude,Date,Time,Location
0,B03377,JUMPRYDZ LLC,7328392801,No,317,GEORGE ST STE 320,NEW BRUNSWICK,NJ,08901,BLACK CAR BASE,40.493052,-74.442988,07/12/2023,18:00:13,"(40.493052, -74.4429875)"
80,B02120,HARRISON GLOBAL LLC,9733760145,No,780,DOWD AVENUE,ELIZABETH,NJ,07201,LUXURY/LIMOUSINE,40.672805,-74.191579,07/12/2023,18:00:13,"(40.672805, -74.191579)"
91,B02173,ADMIRE LLP LLC,9086885777,No,2421,IORIO COURT STE B,UNION,NJ,07083,LUXURY/LIMOUSINE,40.694913,-74.298600,07/12/2023,18:00:13,"(40.694913, -74.2986)"
96,B03168,KAYROS TRANSPORTATION INC,9174408678,No,726,BROADWAY,BAYONNE,NJ,07002,BLACK CAR BASE,40.671776,-74.111405,07/12/2023,18:00:13,"(40.6717762, -74.1114053)"
107,B03074,BLACKBIRD WORLDWIDE CORP,8666671559,No,1401,VALLEY RD SUITE 311,WAYNE,NJ,07470,LUXURY/LIMOUSINE,40.959083,-74.226683,07/12/2023,18:00:13,"(40.9590831, -74.226683)"
149,B03507,GOLDEN BIRD LIMOUSINES LLC,9179836220,No,103,N. MAIN STREET,ISELIN,NJ,08830,LUXURY/LIMOUSINE,40.574452,-74.317010,07/12/2023,18:00:13,"(40.5744524, -74.3170096)"
160,B02724,"CORE CAR, INC",2033483199,No,30,COMMERCE ROAD,STAMFORD,CT,06902,LUXURY/LIMOUSINE,41.046382,-73.561630,07/12/2023,18:00:13,"(41.046382, -73.56163)"
180,B02256,"EUROPE LIMOUSINE SERVICE, INC.",2014773200,No,24,FARVIEW TERRACE,PARAMUS,NJ,07652,BLACK CAR BASE,40.922042,-74.069773,07/12/2023,18:00:13,"(40.922042, -74.069773)"
225,B01871,"ALPINE LIMOUSINE SERVICE, INC.",2013739599,No,1155,HILLSBORO MILE SUITE 108,HILLSBORO BEACH,FL,33062,LUXURY/LIMOUSINE,40.901645,-74.070797,07/12/2023,18:00:13,"(40.901645, -74.070797)"
232,B03486,OCCSER LLC,3478750005,No,132 1/2,CENTER STREET,SHELTON,CT,06484,BLACK CAR BASE,41.315210,-73.094917,07/12/2023,18:00:13,"(41.31521, -73.094917)"
260,B03320,LIMOLINK INCORPORATED,3197302100,No,3375,ARMAR DRIVE,MARION,IA,52302,LUXURY/LIMOUSINE,42.028222,-91.615066,07/12/2023,18:00:13,"(42.0282223, -91.6150655)"
364,B03429,EURO LINE LIMO SERVICES INC,2123019010,No,130,GREENFIELD STREET,FAIRFIELD,CT,06824,LUXURY/LIMOUSINE,41.178148,-73.227118,07/12/2023,18:00:13,"(41.1781475, -73.2271181)"
370,B03399,BLACKLANE NORTH AMERICA INC,2017773235,No,111,TOWN SQUARE PLACE SUIT # 1203,JERSEY CITY,NJ,07310,LUXURY/LIMOUSINE,40.726290,-74.033749,07/12/2023,18:00:13,"(40.7262903, -74.0337489)"
398,B03506,"KLS WORLDWIDE CHAUFFERURED SERVICES, INC.",8003815301,No,271,U.S.46 WEST SUITE 204,FAIRFIELD,NJ,07004,LUXURY/LIMOUSINE,42.171010,-76.853336,07/12/2023,18:00:13,"(42.1710098, -76.8533365)"
402,B01644,MUSIC EXPRESS/N.Y. INC,2127365405,No,674,CLIFTON AVENUE,CLIFTON,NJ,07011,LUXURY/LIMOUSINE,40.901484,-74.115919,07/12/2023,18:00:13,"(40.901484, -74.115919)"
410,B03338,A & T NYC LIMO LLC,8884625724,No,120,INDUSTRIAL AVENUE,LITTLE FERRY,NJ,07643,LUXURY/LIMOUSINE,40.844988,-74.032860,07/12/2023,18:00:13,"(40.8449875, -74.0328595)"
443,B01742,"AVALON TRANSPORTATION, LLC",7183611555,No,89,RIDGE RD,NORTH ARLINGTON,NJ,07031,LUXURY/LIMOUSINE,40.784600,-74.136710,07/12/2023,18:00:13,"(40.7846, -74.13671)"
450,B03499,ABM BLACK CAR SERVICE LLC.,8604949349,No,88,BARBER HILL ROAD,SOUTH WINDSOR,CT,06074,BLACK CAR BASE,41.852843,-72.529308,07/12/2023,18:00:13,"(41.8528425, -72.5293079)"
503,B01800,EMPIRE INTERNATIONAL LTD.,2017841200,No,225,MEADOWLANDS PARKWAY,SECAUCUS,NJ,07094,LUXURY/LIMOUSINE,40.780840,-74.080302,07/12/2023,18:00:13,"(40.78084, -74.080302)"
557,B03296,ZIP CONNECTIONS INC,2018829654,No,139,WALINGTON AVE,WALINGTON,NJ,07057,BLACK CAR BASE,40.338477,-74.260940,07/12/2023,18:00:13,"(40.3384771, -74.26094)"
565,B02970,FLYTE LINE TRANSPORTATION LLC,8888885466,No,365,RIFLE CAMP ROAD SUITE 202,WOODLAND,NJ,07424,BLACK CAR BASE,41.083191,-74.149513,07/12/2023,18:00:13,"(41.083191, -74.149513)"
586,B03450,SYDNEY LUXURY LIMO INC.,3475242008,No,53,WEST 48TH STREET B1,BAYONNE,NJ,07002,BLACK CAR BASE,40.682736,-74.104893,07/12/2023,18:00:13,"(40.6827361, -74.1048931)"
600,B03131,HYTCH HOLDING LLC,8889948356,No,238,MAIN STREET SUITE 101,HACKENSACK,NJ,07601,BLACK CAR BASE,40.885683,-74.041798,07/12/2023,18:00:13,"(40.8856835, -74.0417975)"
603,B02627,A PEGASUS LIMOUSINE CORP.,9737773007,No,176,SADDLE RIVER AVENUE BLDG F,HACKENSACK,NJ,07606,LUXURY/LIMOUSINE,40.863348,-74.097520,07/12/2023,18:00:13,"(40.863348, -74.09752)"
605,B01854,EUROPE LIMOUSINE SERVICE INC,2014773200,No,24,FARVIEW TERRACE,PARAMUS,NJ,07652,LUXURY/LIMOUSINE,40.922042,-74.069773,07/12/2023,18:00:13,"(40.922042, -74.069773)"
625,B03126,YUR DRIVERS NETWORK INC,2019875702,No,151,WEST PASSAIC ST 2ND FL,ROCHELLE PARK,NJ,07662,BLACK CAR BASE,40.912540,-74.078564,07/12/2023,18:00:13,"(40.9125403, -74.0785644)"
637,B02095,COMMONWEALTH WORLDWIDE CHAUFFEURED TRANSP. OF ...,7187065500,No,191,HIGH STREET,WALTHAM,MA,02453,LUXURY/LIMOUSINE,40.739553,-73.936994,07/12/2023,18:00:13,"(40.739553, -73.936994)"
647,B02797,CJ LIMOUSINE LLC,2012425466,No,1605,JOHN STREET SUITE 201,FORT LEE,NJ,07024,BLACK CAR BASE,40.854042,-73.979192,07/12/2023,18:00:13,"(40.854042, -73.979192)"
685,B02060,AMERICAN LIMOUSINE LLC,2015293610,No,365,RIFLE CAMP ROAD SUITE 202,WOODLAND PARK,NJ,07424,LUXURY/LIMOUSINE,41.083191,-74.149513,07/12/2023,18:00:13,"(41.083191, -74.149513)"
706,B03404,"UBER USA, LLC",6467800129,Yes,1515,THIRD STREET,SAN FRANCISCO,CA,94158,BLACK CAR BASE,40.710909,-74.011605,07/12/2023,18:00:13,"(40.7109092, -74.0116047)"
779,B02127,"CONTINENTAL RIDE, INC.",8007063495,No,111,WASHINGTON AVENUE,DUMONT,NJ,07628,LUXURY/LIMOUSINE,40.940024,-73.993747,07/12/2023,18:00:13,"(40.940024, -73.993747)"