In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_parquet('../data_preprocessing/dfTime_TLC-2022.parquet', engine='pyarrow')
df.head()

   Name  year  month  day  hour  weekday  PULocationID  is_holiday   次數
0  lyft  2022      1    1     0        5             3        True   16
1  lyft  2022      1    1     0        5             4        True   49
2  lyft  2022      1    1     0        5             5        True    1
3  lyft  2022      1    1     0        5             6        True    1
4  lyft  2022      1    1     0        5             7        True  115

In [7]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
df.loc[:, 'Name'] = label.fit_transform(df.loc[:, 'Name'])

df['Name'].value_counts()

Name
1    2177568
0    2115281
2     807169
Name: count, dtype: int64